.paw-loader-spin {
    font-size: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.paw-pulse {
    font-size: 60px;
    animation: pulse 1.2s infinite;
}

.swal2-popup {
    overflow: hidden !important;
}

.swal2-html-container {
    overflow: hidden !important;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.6;
    }
}

.logo-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes pulseLogo {
    0% { transform: scale(1); opacity: 0.8; }
    50% { transform: scale(1.15); opacity: 1; }
    100% { transform: scale(1); opacity: 0.8; }
}


@keyframes spinLogo {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.logo-img {
    width: 50px;
    animation: heartbeat 1.2s infinite;
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    20% { transform: scale(1.2); }
    40% { transform: scale(1); }
    60% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

